* {
    margin: 0;
    outline: none;
    font-family: monospace;
    font-size: 1.02em;
}

body {
    background-color: #222831;
    overflow: hidden;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
#left {
    display: flex;
    height: 95vh;
    width: 30%;
    justify-content: center;
}


.clickedSubAllowButton {
    background-color: #16213e !important;
    border: 2px solid #1a1a2e !important;
}

#subAllows button:disabled {
    opacity: 0.5;
    /* transition: opacity .5s; */
}

#subAllows button {
    opacity: 1;
    /* transition: opacity .5s; */
}

/* ===================== */

#stats {
    /* border: 1px solid black; */
    flex-basis: 100%;
}

#time {
    text-align: center;
}

#wrapper h3 {
    color: #f2a365;
    border-bottom: 1px solid #1a1a2e;
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#skills {
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow-y: scroll;
}

#skills::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 1em;
    background-color: #1a1a2e;
  }
  
#skills::-webkit-scrollbar {
    width: 0.3em;
    background-color: #1a1a2e;
    border-radius: 1em;
}
  
#skills::-webkit-scrollbar-thumb {
    border-radius: 1em;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: #30475e;
}

#skills h3 {
    width: 90%;
}

.skill {
    display: flex;
    flex-direction: column;
    padding-right: 0.3em;
}


.show > button:first-of-type {
    background-color: #16213e;
}

.clicked {
    /* color: red; */
    /* font-size: 10em; */
    /* border: 1px solid #e94560; */
    background-color: #16213e !important;
}

.skill button {
    min-width: 100%;
    background-color: #30475e;
    border: 3px solid #1a1a2e;
    border-radius: 0.5em;
    color: #ececec;
    margin-top: 0.5em;
}

.skill button:active {
    background-color: #16213e;
}

.subSkill {
    display: flex;
    width: 80%;
    align-self: center;
    flex-direction: column;
    font-size: 0.75em;
}

.subSkill button {
    text-align: center;
    padding: 0.1em;
}


.progressBarWrapper {
    height: 1em;
    background-color: #30475e;
    border-radius: 0.2em;
    border: 1px solid #16213e;
    position: relative;
}
.progressBar {
    height: inherit;
    background-color: green;
    border-radius: 0.2em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.progressSpan {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-size: 0.7em;
    color: #ececec;
}
/* ======================== */
#right {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}

#player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    text-align: center;
    flex-basis: 50%;
}

#player span {
    color: #ececec;
}


@media screen and (min-width: 601px) {
    #player span {
        font-size: 1vw;
    }
    #skills button {
        font-size: 1vw;
    }
}

@media screen and (max-width: 600px) {
    #player span {
        font-size: 3vw;
    }
    #skills button {
        font-size: 2.5vw;
    }
    #subSkillScreen button {
        font-size: 2.5vw;
    }
    #stats {
        font-size: 2vw;
    }
    .progressBarWrapper {
        height: 1vh;
        font-size: 2vw;
        line-height: 1.5;
    }
}

#player div {
    display: flex;
    flex-direction: column;
}
/* .options > div:not(:first-child) select { background:yellow;} */
#player > div:nth-child(n + 2) {
    width: 90%;
    align-self: center;
}

#subSkillScreen {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
}

#subSkillScreen button {
    margin-top: 1em;
}

#subButtonWrapper {
    display: flex;
    width: 90%;

}

#subButtonWrapper button{
   display: flex;
   flex-grow: 1;
   background-color: #30475e;
   justify-content: center;
   color: #ececec;
   border: 3px solid #16213e;
}

#subAllows{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

#subAllows button {
    flex-grow: 1;
    flex-basis: 30%;
    background-color: #30475e;
    border: 1px solid #1a1a2e;
    color: #ececec;
    align-items: center;
}
#subAllows button:active {
    background-color: #16213e;
}

.column {
    display: flex;
    flex-direction: column;
}
.column > button {
    display: flex;
    flex: 1;
}

.desc {
    left: 30%;
    top: 0%;
    position: absolute;
    background-color: #30475e;
    font-size: 0.9em;
    padding: 0.3em;
    color: #ececec;
    border: 1px solid #16213e;
    text-align: center;
    z-index: 99;
    animation: fadeaway 0.5s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes fadeaway{
    from {opacity :1;}
    to {opacity :0;}
}

.focus {
    border: 1px solid #f2a365!important;
    border-radius: 0 !important;
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
    align-self: center;
    /* Very dumb */
    min-width: 50% !important;
    max-width: 100% !important;
}

.focus:disabled {
    /* background-color: #ffffff; */
    opacity: 0.5;
    transition: opacity .5s;
    /* border: 1px solid red !important;  */
}

.focused {
    border: 3px solid #f2a365 !important;
}

#stats {
    color: #ececec;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#WaterWrapper {
    color: rgb(28, 28, 192);
}

#FireWrapper {
    color: rgb(221, 66, 66);
}

/* #StoneInventoryDiv {
    background-image: url(svg/stone.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right;
} */