* {
    margin: 0;
}
#wrapper {
    display: flex;
    flex-direction: row;
}
#left {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
    height: 100vh;
}

#skills {
    display: flex;
    flex-direction: column;
}

#right {
    border: 1px solid black;
    display: flex;
    flex-grow: 3;
}