* {
    margin: 0;
    outline: none;
}
#wrapper {
    display: flex;
    flex-direction: row;
}
#left {
    border: 1px solid black;
    display: flex;
    height: 100vh;
    width: 30%;
}
.clicked {
    border: 1px solid orange;
}

.clickedSubAllowButton {
    border: 1px solid red;
}

/* ===================== */

#skills {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
}

.show {
    border: 1px solid red;
}

.skill button {
    min-width: 100%;
}

.subSkill {
    margin: 0 auto;
    width: 70%;
}

.progressBar {
    height: 0.2em;
    background-color: green;
}
/* ======================== */
#right {
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}

#player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    text-align: center;
    flex-basis: 50%;
}

#player div {
    display: flex;
    flex-direction: column;
}

#subSkillScreen {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

#subSkillScreen button {
    margin-top: 1em;
}

#subButtonWrapper {
    display: flex;
}

#subButtonWrapper button{
   display: flex;
   flex-grow: 1;
   text-align: center;
   justify-content: center;
}

#subAllows{
    display: flex;
    flex-wrap: wrap;
}

#subAllows button {
    flex-grow: 1;
    flex-basis: 33.33%;
}

.column {
    display: flex;
    flex-direction: column;
}
.column > button {
    display: flex;
    flex: 1;
    /* text-align: center; */
    /* display: flex; */
    color: red;
}

.focusButton {
    height: 100%;
}

.focus {
    border 1px solid red;
}