.New {
    color: red;
}

#wrapper {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
#skillCategories {
    display: flex;
    align-self: center;
}
#skills {
    display: flex;
    width: 10em;
    align-self: center;
    flex-direction: column;
}
#inventory {
    display: flex;
    flex-direction: column;
}

#interaction {
    display: flex;
    align-self: center;
}