/* Global defualts */
.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

body {
    margin: 0;
    color: #EEEBD3;
    background-color: #1B1B1E;
    overflow: hidden;
}

button {
    background-color: #37393A;
    color: #EEEBD3;
}
button:focus {
    outline: none;
}

/* Special classes */

.New {
    color: #FF0035 !important;
}

.CategoryFocus {
    /* color: blue; */
    background-color: #2c2d2e;
    /* border: 1px solid purple !important; */
}

.ViewedSkill {
    background-color: #2c2d2e;
}
.ViewedSubSkill {
    background-color: rgba(15, 15, 15, .2);
    /* background-color: #2c2d2e; */
}

#info {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}
#nation h3 {
    padding: 0;
    margin: 0;
}

/* .subCraft {

} */

button:disabled {
    cursor: not-allowed;
    opacity: 50%;
}
#ticker {
    height: 1em;
    display: flex;
    flex-basis: 100%;
}

/* Area specific */

@media screen and (max-width: 702px) {
    #wrapper {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        height: 100vh;
    }
    #skillCategories {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    #skillCategories button {
        width: 50%;
        height: 2em;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #skillCategories button:focus {
        outline: none;
    }
    
    #skills {
        display: flex;
        width: 10em;
        align-self: flex-start;
        flex-direction: column;
        margin: 0.5em;
    }
    #skills button {
        margin: 0.5em 0 0.5em 0;
        border: none;
        border: 0.2em solid #2c2d2e;
        border-radius: 0.3em;
    }
    #skills button:active {
        background-color: #2c2d2e;
        border: 0.2em solid #37393A;
    }
    
    #skillArea {
        flex-grow: 0;
    }
    
    #inventory {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        font-family: 'Courier New', Courier, monospace;
        font-size: smaller;
    }
    #inventory span {
        display: inline-block;
        width: 10em;
        text-align: left;
    }
    #inventory div {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    
    #interaction {
        display: flex;
        align-self: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
    }
    #interaction button {
        border: none;
        flex-grow: 1;
        margin: 0.1em;
    }
    #subCraftItemsDiv {
        display: flex;
        width: 99%;
        padding-top: 1em;
        flex-wrap: wrap;
    }
    #subCraftItemsDiv button {
        width: 49%;
        border: none;
    }
    #subCraftItemsDiv button:active {
        background-color: #2c2d2e;
        border: 2px solid #37393A;
    }
    
    .skill button {
        width: 100%;
    }
    .BarWrapper {
        width: 100%;
        height: 1em;
        position: relative;
    }
    .SkillInfo {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 0.9em;
        color: #ececec;
    }
    .bar {
        height: inherit;
        background-color: green;
        border-radius: 0.2em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 703px) {
    #wrapper {
        height: 100vh;
        display: flex;
        align-self: flex-start;
    }
    #skillCategories {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    #skillCategories button {
        width: 5em;
        height: 2em;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #skillCategories button:focus {
        outline: none;
    }
    
    #skills {
        display: flex;
        width: 10em;
        align-self: flex-start;
        flex-direction: column;
        margin: 0.5em;
    }
    #skills b {
        color: #A9BEBC;
    }
    #skills button {
        border: 0.2em solid #2c2d2e;
        border-radius: 0.3em;
    }
    #skills button:active {
        background-color: #2c2d2e;
        border: 0.2em solid #37393A;
    }
    
    #skillArea {
        display: flex;
        flex-direction: column;
        flex-shrink: 3;
    }
    
    #inventory {
        display: flex;
        height: 100%;
        flex-grow: 1 !important;
        align-items: flex-start;
        justify-content: flex-end;
        font-family: 'Courier New', Courier, monospace;
        font-size: smaller;
        flex-wrap: wrap;
        padding-left: 1em;
    }
    #inventory span {
        display: inline-block;
        width: 10em;
        text-align: left;
    }
    #inventory div {
        /* height: 100%; */
        display: flex;
        flex-direction: column;
    }
    
    #interaction {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

    }
    #interaction button {
        border: none;
        flex-shrink: 1;
        margin: 0.1em;
        line-height: 1.5em;
    }
    #interaction button:active {
        background-color: #2c2d2e;
    }
    
    #subCraftDiv {
        display: flex;
        flex-basis: 100%;
    }
    #subCraftDiv button {
        max-height: 1.5em;
    }
    
    #subCraftItemsDiv {
        padding-top: 1em;
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    #subCraftItemsDiv button {
        display: inline-block;
    }
    #subCraftItemsDiv button b {
        color: #A9BEBC;
    }

    .skill {
        display: flex;
        flex-direction: column;
        /* background-color: #313134; */
        /* background-color: blue; */
        flex-shrink: 1;
        padding: 0.1em;
    }
    .skill button {
        justify-content: center;
    }

    .BarWrapper {
        width: 100%;
        height: 1em;
        position: relative;
    }
    .SkillInfo {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 0.9em;
        color: #ececec;
    }
    .bar {
        height: inherit;
        background-color: green;
        border-radius: 0.2em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}